<h1><%= encabezado %> </h1>
<img src="http://api.ning.com/files/UW3BGoWggStRoyhTz-SqnvgHSNZkKqfGqY5figsnd9LqmyQSy2hNQry50G7D-Kn50OPtaVf17WGE3fRByRY09agOGqWoqTY2/DSC_6776.jpg?width=398&height=600">
<p><b>Nombre del Autor: </b>Jose Joaquin</p>
<p><b>País: </b>España</p>
<p><b>Video: </b></p>
<div class="js-video">
  <iframe width="50%" height="50%" src="https://www.youtube.com/watch?v=BS4HVDbAd0E" frameborder="0" allowfullscreen></iframe>
</div>
